doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/styles.css")
    body 
        div.header
            div.top__header 
                a(href="/mypage") My page
                a(href="/signin") Sign in 
                a(href="/signup") Sign up   

            div.bottom__header 
                div.empty1
                div.logo
                    a(href="/") sia
                    a aeonian 
                    a pure 
                    a eunoia 
                div.keyword
                    a(href="/product") Product 
                    a(href="/style") Style 
                    a(href="/brand") Brand 
                div.empty
                .search
                    .search-box
                        input.search-txt(type="text" placeholder="'Search in'")
                        a.search-btn(href="#")
                            i(class="fa-solid fa-magnifying-glass")
                div.like
                    a(href="/like") Like  