doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/styles.css")
    body 
        header.mainheader
            h1 MTRTUDE
            h3 Questionlist 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, voluptatem vel distinctio quidem exercitationem aliquam cupiditate illo voluptate deserunt esse amet odit,
            p ipsa est placeat commodi a modi reprehenderit incidunt.
            a(href="/home") 
                button HOME 

        section.top
            h1 MTRTUDE    
            p  Lorem ipsum dolor

        section.wholeWrapper 
            section.XX__left 
            section.rsWrapper
                block main
            section.XX__right 
        