extends ./base.pug 

block product 

    div.name Product 

    div.brand 
        div.brand__box 
        div.brand__box 
        div.brand__box 
        div.brand__box 
        div.brand__box 
        div.brand__box 
        div.brand__box 
        div.brand__box 
        div.brand__box 
        div.brand__box 
        div.brand__box 
        div.brand__box 
    
    div.best 
        div.best__box 
            div.best__box__lan
        div.best__box 
            div.best__box__lan
        div.best__box 
            div.best__box__lan

    div.order

    div.product 
        div.product__box 
            div.product__img 
            div.product__txt
        div.product__box 
            div.product__img 
            div.product__txt
        div.product__box 
            div.product__img 
            div.product__txt 
        div.product__box 
            div.product__img 
            div.product__txt

        div.product__box 
            div.product__img 
            div.product__txt
        div.product__box 
            div.product__img 
            div.product__txt
        div.product__box 
            div.product__img 
            div.product__txt 
        div.product__box 
            div.product__img 
            div.product__txt