@font-face {
  font-family: "Eulyoo1945-SemiBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-SemiBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SANGJUGyeongcheonIsland";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANGJUGyeongcheonIsland.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '국립박물관문화재단클래식B';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

header {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.pinimg.com/564x/7e/72/63/7e726385d9987da261948196d8e319e5.jpg");
  text-align: center;
  width: 100%;
  height: 700px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
}

header .mainheader {
  width: 100%;
  height: 100%;
  padding: 50px;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
}

.mainheader h1 {
  font-family: "Dancing Script", cursive;
  font-size: 80px;
  margin-bottom: 30px;
  margin-top: 150px;
  color: #fff;
}

.mainheader h3,
.mainheader p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 30px;
  color: #fff;
}

.mainheader button {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  color: #333;
  background: #fff;
  margin-bottom: 50px;
  box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.top {
  width: 100%;
  height: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.top {
  font-size: 25px;

  font-family: '국립박물관문화재단클래식B';
}

.footer {
  width: 100%;
  height: 300px;

  margin-top: 200px;

  background-color: thistle;
}
